#root {
	position: fixed;
	width: 100%;
	left: 0px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card {
	width: 20em;
	margin: 0.5em;
	padding: 0.5em;
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 0.5em;
	border: solid 1px var(--fg-color);
	overflow-wrap: anywhere;
	word-break: break-all;
	white-space: normal;
}

.progress {
	width: auto;
}
