#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.card {
	margin: 0.5em;
	padding: 0.5em;
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 0.5em;
	border: solid 1px var(--fg-color);
}
